@-webkit-keyframes die {
  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}
@-moz-keyframes die {
  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}
@keyframes die {
  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}
* {
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
}

body {
  margin: 80px 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}

.game-wrapper {
  width: 400px;
  margin: 0 auto;
}

.game-container {
  position: absolute;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background: #111111;
}

.tile {
  position: absolute;
  width: 57.14286px;
  height: 57.14286px;
  line-height: 57.14286px;
  font-size: 28.57143px;
  text-align: center;
  background-image: url("../assets/test.png");
  background-size: auto 57.14286px;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  /*
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; 
  */
}

.tile-buffer {
  opacity: 0.8;
}

.tile-dead {
  -webkit-animation: die 200ms;
  -moz-animation: die 200ms;
  animation: die 200ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tile-0 {
  background-color: gold;
  background-position: 0px 0px;
  color: gold;
}

.tile-1 {
  background-color: #f45530;
  background-position: -57.14286px 0px;
  color: #f45530;
}

.tile-2 {
  background-color: #55bbff;
  background-position: -114.28571px 0px;
  color: #55bbff;
}

.tile-3 {
  background-color: #ba60ff;
  background-position: -171.42857px 0px;
  color: #ba60ff;
}

.tile-4 {
  background-color: #f7a216;
  background-position: -228.57143px 0px;
  color: #f7a216;
}

.tile-5 {
  background-color: #8db63e;
  background-position: -285.71429px 0px;
  color: #8db63e;
}

.tile-6 {
  background-color: black;
  background-position: -342.85714px 0px;
  color: black;
}

.tile-7 {
  background-color: #eeeeee;
  background-position: -400px 0px;
  color: #eeeeee;
}

.tile-position-0-0 {
  -webkit-transform: translate(28.57143px, 28.57143px);
  -moz-transform: translate(28.57143px, 28.57143px);
  transform: translate(28.57143px, 28.57143px);
}

.tile-position-0-1 {
  -webkit-transform: translate(28.57143px, 85.71429px);
  -moz-transform: translate(28.57143px, 85.71429px);
  transform: translate(28.57143px, 85.71429px);
}

.tile-position-0-2 {
  -webkit-transform: translate(28.57143px, 142.85714px);
  -moz-transform: translate(28.57143px, 142.85714px);
  transform: translate(28.57143px, 142.85714px);
}

.tile-position-0-3 {
  -webkit-transform: translate(28.57143px, 200.0px);
  -moz-transform: translate(28.57143px, 200.0px);
  transform: translate(28.57143px, 200.0px);
}

.tile-position-0-4 {
  -webkit-transform: translate(28.57143px, 257.14286px);
  -moz-transform: translate(28.57143px, 257.14286px);
  transform: translate(28.57143px, 257.14286px);
}

.tile-position-0-5 {
  -webkit-transform: translate(28.57143px, 314.28571px);
  -moz-transform: translate(28.57143px, 314.28571px);
  transform: translate(28.57143px, 314.28571px);
}

.tile-position-buffer-n0 {
  -webkit-transform: translate(28.57143px, -28.57143px);
  -moz-transform: translate(28.57143px, -28.57143px);
  transform: translate(28.57143px, -28.57143px);
}

.tile-position-buffer-w0 {
  -webkit-transform: translate(-28.57143px, 28.57143px);
  -moz-transform: translate(-28.57143px, 28.57143px);
  transform: translate(-28.57143px, 28.57143px);
}

.tile-position-buffer-s0 {
  -webkit-transform: translate(28.57143px, 371.42857px);
  -moz-transform: translate(28.57143px, 371.42857px);
  transform: translate(28.57143px, 371.42857px);
}

.tile-position-buffer-e0 {
  -webkit-transform: translate(371.42857px, 28.57143px);
  -moz-transform: translate(371.42857px, 28.57143px);
  transform: translate(371.42857px, 28.57143px);
}

.tile-position-buffer-pn0 {
  -webkit-transform: translate(28.57143px, -85.71429px);
  -moz-transform: translate(28.57143px, -85.71429px);
  transform: translate(28.57143px, -85.71429px);
}

.tile-position-buffer-pw0 {
  -webkit-transform: translate(-85.71429px, 28.57143px);
  -moz-transform: translate(-85.71429px, 28.57143px);
  transform: translate(-85.71429px, 28.57143px);
}

.tile-position-buffer-ps0 {
  -webkit-transform: translate(28.57143px, 428.57143px);
  -moz-transform: translate(28.57143px, 428.57143px);
  transform: translate(28.57143px, 428.57143px);
}

.tile-position-buffer-pe0 {
  -webkit-transform: translate(428.57143px, 28.57143px);
  -moz-transform: translate(428.57143px, 28.57143px);
  transform: translate(428.57143px, 28.57143px);
}

.tile-position-1-0 {
  -webkit-transform: translate(85.71429px, 28.57143px);
  -moz-transform: translate(85.71429px, 28.57143px);
  transform: translate(85.71429px, 28.57143px);
}

.tile-position-1-1 {
  -webkit-transform: translate(85.71429px, 85.71429px);
  -moz-transform: translate(85.71429px, 85.71429px);
  transform: translate(85.71429px, 85.71429px);
}

.tile-position-1-2 {
  -webkit-transform: translate(85.71429px, 142.85714px);
  -moz-transform: translate(85.71429px, 142.85714px);
  transform: translate(85.71429px, 142.85714px);
}

.tile-position-1-3 {
  -webkit-transform: translate(85.71429px, 200.0px);
  -moz-transform: translate(85.71429px, 200.0px);
  transform: translate(85.71429px, 200.0px);
}

.tile-position-1-4 {
  -webkit-transform: translate(85.71429px, 257.14286px);
  -moz-transform: translate(85.71429px, 257.14286px);
  transform: translate(85.71429px, 257.14286px);
}

.tile-position-1-5 {
  -webkit-transform: translate(85.71429px, 314.28571px);
  -moz-transform: translate(85.71429px, 314.28571px);
  transform: translate(85.71429px, 314.28571px);
}

.tile-position-buffer-n1 {
  -webkit-transform: translate(85.71429px, -28.57143px);
  -moz-transform: translate(85.71429px, -28.57143px);
  transform: translate(85.71429px, -28.57143px);
}

.tile-position-buffer-w1 {
  -webkit-transform: translate(-28.57143px, 85.71429px);
  -moz-transform: translate(-28.57143px, 85.71429px);
  transform: translate(-28.57143px, 85.71429px);
}

.tile-position-buffer-s1 {
  -webkit-transform: translate(85.71429px, 371.42857px);
  -moz-transform: translate(85.71429px, 371.42857px);
  transform: translate(85.71429px, 371.42857px);
}

.tile-position-buffer-e1 {
  -webkit-transform: translate(371.42857px, 85.71429px);
  -moz-transform: translate(371.42857px, 85.71429px);
  transform: translate(371.42857px, 85.71429px);
}

.tile-position-buffer-pn1 {
  -webkit-transform: translate(85.71429px, -85.71429px);
  -moz-transform: translate(85.71429px, -85.71429px);
  transform: translate(85.71429px, -85.71429px);
}

.tile-position-buffer-pw1 {
  -webkit-transform: translate(-85.71429px, 85.71429px);
  -moz-transform: translate(-85.71429px, 85.71429px);
  transform: translate(-85.71429px, 85.71429px);
}

.tile-position-buffer-ps1 {
  -webkit-transform: translate(85.71429px, 428.57143px);
  -moz-transform: translate(85.71429px, 428.57143px);
  transform: translate(85.71429px, 428.57143px);
}

.tile-position-buffer-pe1 {
  -webkit-transform: translate(428.57143px, 85.71429px);
  -moz-transform: translate(428.57143px, 85.71429px);
  transform: translate(428.57143px, 85.71429px);
}

.tile-position-2-0 {
  -webkit-transform: translate(142.85714px, 28.57143px);
  -moz-transform: translate(142.85714px, 28.57143px);
  transform: translate(142.85714px, 28.57143px);
}

.tile-position-2-1 {
  -webkit-transform: translate(142.85714px, 85.71429px);
  -moz-transform: translate(142.85714px, 85.71429px);
  transform: translate(142.85714px, 85.71429px);
}

.tile-position-2-2 {
  -webkit-transform: translate(142.85714px, 142.85714px);
  -moz-transform: translate(142.85714px, 142.85714px);
  transform: translate(142.85714px, 142.85714px);
}

.tile-position-2-3 {
  -webkit-transform: translate(142.85714px, 200.0px);
  -moz-transform: translate(142.85714px, 200.0px);
  transform: translate(142.85714px, 200.0px);
}

.tile-position-2-4 {
  -webkit-transform: translate(142.85714px, 257.14286px);
  -moz-transform: translate(142.85714px, 257.14286px);
  transform: translate(142.85714px, 257.14286px);
}

.tile-position-2-5 {
  -webkit-transform: translate(142.85714px, 314.28571px);
  -moz-transform: translate(142.85714px, 314.28571px);
  transform: translate(142.85714px, 314.28571px);
}

.tile-position-buffer-n2 {
  -webkit-transform: translate(142.85714px, -28.57143px);
  -moz-transform: translate(142.85714px, -28.57143px);
  transform: translate(142.85714px, -28.57143px);
}

.tile-position-buffer-w2 {
  -webkit-transform: translate(-28.57143px, 142.85714px);
  -moz-transform: translate(-28.57143px, 142.85714px);
  transform: translate(-28.57143px, 142.85714px);
}

.tile-position-buffer-s2 {
  -webkit-transform: translate(142.85714px, 371.42857px);
  -moz-transform: translate(142.85714px, 371.42857px);
  transform: translate(142.85714px, 371.42857px);
}

.tile-position-buffer-e2 {
  -webkit-transform: translate(371.42857px, 142.85714px);
  -moz-transform: translate(371.42857px, 142.85714px);
  transform: translate(371.42857px, 142.85714px);
}

.tile-position-buffer-pn2 {
  -webkit-transform: translate(142.85714px, -85.71429px);
  -moz-transform: translate(142.85714px, -85.71429px);
  transform: translate(142.85714px, -85.71429px);
}

.tile-position-buffer-pw2 {
  -webkit-transform: translate(-85.71429px, 142.85714px);
  -moz-transform: translate(-85.71429px, 142.85714px);
  transform: translate(-85.71429px, 142.85714px);
}

.tile-position-buffer-ps2 {
  -webkit-transform: translate(142.85714px, 428.57143px);
  -moz-transform: translate(142.85714px, 428.57143px);
  transform: translate(142.85714px, 428.57143px);
}

.tile-position-buffer-pe2 {
  -webkit-transform: translate(428.57143px, 142.85714px);
  -moz-transform: translate(428.57143px, 142.85714px);
  transform: translate(428.57143px, 142.85714px);
}

.tile-position-3-0 {
  -webkit-transform: translate(200.0px, 28.57143px);
  -moz-transform: translate(200.0px, 28.57143px);
  transform: translate(200.0px, 28.57143px);
}

.tile-position-3-1 {
  -webkit-transform: translate(200.0px, 85.71429px);
  -moz-transform: translate(200.0px, 85.71429px);
  transform: translate(200.0px, 85.71429px);
}

.tile-position-3-2 {
  -webkit-transform: translate(200.0px, 142.85714px);
  -moz-transform: translate(200.0px, 142.85714px);
  transform: translate(200.0px, 142.85714px);
}

.tile-position-3-3 {
  -webkit-transform: translate(200.0px, 200.0px);
  -moz-transform: translate(200.0px, 200.0px);
  transform: translate(200.0px, 200.0px);
}

.tile-position-3-4 {
  -webkit-transform: translate(200.0px, 257.14286px);
  -moz-transform: translate(200.0px, 257.14286px);
  transform: translate(200.0px, 257.14286px);
}

.tile-position-3-5 {
  -webkit-transform: translate(200.0px, 314.28571px);
  -moz-transform: translate(200.0px, 314.28571px);
  transform: translate(200.0px, 314.28571px);
}

.tile-position-buffer-n3 {
  -webkit-transform: translate(200.0px, -28.57143px);
  -moz-transform: translate(200.0px, -28.57143px);
  transform: translate(200.0px, -28.57143px);
}

.tile-position-buffer-w3 {
  -webkit-transform: translate(-28.57143px, 200.0px);
  -moz-transform: translate(-28.57143px, 200.0px);
  transform: translate(-28.57143px, 200.0px);
}

.tile-position-buffer-s3 {
  -webkit-transform: translate(200.0px, 371.42857px);
  -moz-transform: translate(200.0px, 371.42857px);
  transform: translate(200.0px, 371.42857px);
}

.tile-position-buffer-e3 {
  -webkit-transform: translate(371.42857px, 200.0px);
  -moz-transform: translate(371.42857px, 200.0px);
  transform: translate(371.42857px, 200.0px);
}

.tile-position-buffer-pn3 {
  -webkit-transform: translate(200.0px, -85.71429px);
  -moz-transform: translate(200.0px, -85.71429px);
  transform: translate(200.0px, -85.71429px);
}

.tile-position-buffer-pw3 {
  -webkit-transform: translate(-85.71429px, 200.0px);
  -moz-transform: translate(-85.71429px, 200.0px);
  transform: translate(-85.71429px, 200.0px);
}

.tile-position-buffer-ps3 {
  -webkit-transform: translate(200.0px, 428.57143px);
  -moz-transform: translate(200.0px, 428.57143px);
  transform: translate(200.0px, 428.57143px);
}

.tile-position-buffer-pe3 {
  -webkit-transform: translate(428.57143px, 200.0px);
  -moz-transform: translate(428.57143px, 200.0px);
  transform: translate(428.57143px, 200.0px);
}

.tile-position-4-0 {
  -webkit-transform: translate(257.14286px, 28.57143px);
  -moz-transform: translate(257.14286px, 28.57143px);
  transform: translate(257.14286px, 28.57143px);
}

.tile-position-4-1 {
  -webkit-transform: translate(257.14286px, 85.71429px);
  -moz-transform: translate(257.14286px, 85.71429px);
  transform: translate(257.14286px, 85.71429px);
}

.tile-position-4-2 {
  -webkit-transform: translate(257.14286px, 142.85714px);
  -moz-transform: translate(257.14286px, 142.85714px);
  transform: translate(257.14286px, 142.85714px);
}

.tile-position-4-3 {
  -webkit-transform: translate(257.14286px, 200.0px);
  -moz-transform: translate(257.14286px, 200.0px);
  transform: translate(257.14286px, 200.0px);
}

.tile-position-4-4 {
  -webkit-transform: translate(257.14286px, 257.14286px);
  -moz-transform: translate(257.14286px, 257.14286px);
  transform: translate(257.14286px, 257.14286px);
}

.tile-position-4-5 {
  -webkit-transform: translate(257.14286px, 314.28571px);
  -moz-transform: translate(257.14286px, 314.28571px);
  transform: translate(257.14286px, 314.28571px);
}

.tile-position-buffer-n4 {
  -webkit-transform: translate(257.14286px, -28.57143px);
  -moz-transform: translate(257.14286px, -28.57143px);
  transform: translate(257.14286px, -28.57143px);
}

.tile-position-buffer-w4 {
  -webkit-transform: translate(-28.57143px, 257.14286px);
  -moz-transform: translate(-28.57143px, 257.14286px);
  transform: translate(-28.57143px, 257.14286px);
}

.tile-position-buffer-s4 {
  -webkit-transform: translate(257.14286px, 371.42857px);
  -moz-transform: translate(257.14286px, 371.42857px);
  transform: translate(257.14286px, 371.42857px);
}

.tile-position-buffer-e4 {
  -webkit-transform: translate(371.42857px, 257.14286px);
  -moz-transform: translate(371.42857px, 257.14286px);
  transform: translate(371.42857px, 257.14286px);
}

.tile-position-buffer-pn4 {
  -webkit-transform: translate(257.14286px, -85.71429px);
  -moz-transform: translate(257.14286px, -85.71429px);
  transform: translate(257.14286px, -85.71429px);
}

.tile-position-buffer-pw4 {
  -webkit-transform: translate(-85.71429px, 257.14286px);
  -moz-transform: translate(-85.71429px, 257.14286px);
  transform: translate(-85.71429px, 257.14286px);
}

.tile-position-buffer-ps4 {
  -webkit-transform: translate(257.14286px, 428.57143px);
  -moz-transform: translate(257.14286px, 428.57143px);
  transform: translate(257.14286px, 428.57143px);
}

.tile-position-buffer-pe4 {
  -webkit-transform: translate(428.57143px, 257.14286px);
  -moz-transform: translate(428.57143px, 257.14286px);
  transform: translate(428.57143px, 257.14286px);
}

.tile-position-5-0 {
  -webkit-transform: translate(314.28571px, 28.57143px);
  -moz-transform: translate(314.28571px, 28.57143px);
  transform: translate(314.28571px, 28.57143px);
}

.tile-position-5-1 {
  -webkit-transform: translate(314.28571px, 85.71429px);
  -moz-transform: translate(314.28571px, 85.71429px);
  transform: translate(314.28571px, 85.71429px);
}

.tile-position-5-2 {
  -webkit-transform: translate(314.28571px, 142.85714px);
  -moz-transform: translate(314.28571px, 142.85714px);
  transform: translate(314.28571px, 142.85714px);
}

.tile-position-5-3 {
  -webkit-transform: translate(314.28571px, 200.0px);
  -moz-transform: translate(314.28571px, 200.0px);
  transform: translate(314.28571px, 200.0px);
}

.tile-position-5-4 {
  -webkit-transform: translate(314.28571px, 257.14286px);
  -moz-transform: translate(314.28571px, 257.14286px);
  transform: translate(314.28571px, 257.14286px);
}

.tile-position-5-5 {
  -webkit-transform: translate(314.28571px, 314.28571px);
  -moz-transform: translate(314.28571px, 314.28571px);
  transform: translate(314.28571px, 314.28571px);
}

.tile-position-buffer-n5 {
  -webkit-transform: translate(314.28571px, -28.57143px);
  -moz-transform: translate(314.28571px, -28.57143px);
  transform: translate(314.28571px, -28.57143px);
}

.tile-position-buffer-w5 {
  -webkit-transform: translate(-28.57143px, 314.28571px);
  -moz-transform: translate(-28.57143px, 314.28571px);
  transform: translate(-28.57143px, 314.28571px);
}

.tile-position-buffer-s5 {
  -webkit-transform: translate(314.28571px, 371.42857px);
  -moz-transform: translate(314.28571px, 371.42857px);
  transform: translate(314.28571px, 371.42857px);
}

.tile-position-buffer-e5 {
  -webkit-transform: translate(371.42857px, 314.28571px);
  -moz-transform: translate(371.42857px, 314.28571px);
  transform: translate(371.42857px, 314.28571px);
}

.tile-position-buffer-pn5 {
  -webkit-transform: translate(314.28571px, -85.71429px);
  -moz-transform: translate(314.28571px, -85.71429px);
  transform: translate(314.28571px, -85.71429px);
}

.tile-position-buffer-pw5 {
  -webkit-transform: translate(-85.71429px, 314.28571px);
  -moz-transform: translate(-85.71429px, 314.28571px);
  transform: translate(-85.71429px, 314.28571px);
}

.tile-position-buffer-ps5 {
  -webkit-transform: translate(314.28571px, 428.57143px);
  -moz-transform: translate(314.28571px, 428.57143px);
  transform: translate(314.28571px, 428.57143px);
}

.tile-position-buffer-pe5 {
  -webkit-transform: translate(428.57143px, 314.28571px);
  -moz-transform: translate(428.57143px, 314.28571px);
  transform: translate(428.57143px, 314.28571px);
}

/*
@include smaller($mobile-threshold) {
  // Redefine variables for smaller screens
  $game-size: 100%;
  $game-tiles: 6;
  $tile-size: $game-size / (($game-tiles)+1);

  @include game;
}*/
